<!DOCTYPE html>

<html>

<head>
   <link rel="stylesheet" href="/css/style.css">
   <link rel="icon" href="/img/weather.png">
</head>

<body>
   <div class="main-content">
      {{>header}}
      <img class="sample" src="/img/sample.png">
   </div>  
   {{>footer}}
</body>

</html>